.App {
  text-align: center;
}

.App-btn {
  background-color: #272d2d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  margin-right: 12px;
}

.App-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.App-btns {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #f6f8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #272d2d;
}

.App-status {
  height: 50px;
}

canvas {
  border-left: 1px solid #272d2d;
  border-right: 1px solid #272d2d;
  margin-bottom: 22px;
  margin-top: 22px;
}
